
@{

    Layout = null;
}



<h2>今日個人費用統計</h2>
<table style="width:50%" class="right">
    
    @foreach (var Indcost in @Model.IndCost)
    {
        <tr>
            <td><span>@Indcost.Name</span>
            <td><span>@Indcost.IndSum</span>
        </tr>
    }
    @foreach (var notOrderName in @Model.NotOrderName)
    {
       
        <tr>
            <td><span>@notOrderName.Name</span>
            <td><span>0</span>
        </tr>
    }

</table>






